<div class="main">
<span class="title">     Preserving & Promoting the Teaching of Jainism
</span>
<span class="content">
    <p>
        The Jain Center of Northern California (JCNC) is a unique membership-run, non profit organization incorporating the innovative and progressive life styles Jain families in the Silicon Valley and San Francisco Bay Area while sustaining the religion with its roots back to 900 B.C. The JCNC was founded in 1973 with a membership of 20 families. Today, the membership count has grown to 2000 members in the San Francisco Bay Area.
    </p>

    <p>
        With the blessing of Shri Adinath Bhagawan, JCNC celebrated one of the most memorable and historical Pratishtha Mahotsav of JAIN BHAWAN from August 4-8, 2000. It was attended by more than 5,000 people. Jain Bhawan is the first Jain temple in the entire North America to have Pratimajis with Pran Pratishtha, uniting all Jains beliefs under one roof - Shwetambar, Digambar, Sthanakwasi, Terapanthi and the inspired ones by Shrimad Rajchandraji. Jain Bhawan's authentic design and architecture makes it a unique landmark, first of its kind in North America. This 24000 sq. ft. two story structure sits on a 1.7 acre lot in the heart of the Silicon Valley.
    </p>
  
    <p>
        JCNC has also held the following trend-setting events: 
    </p>
    
    <p>
        The 6th JAINA convention, hosting over 3000 people in 1991
        The 2nd Biennial Convention of Young Jains in 1996, hosting over 600 youth between the ages 14 and 30 years, attending from USA, Canada, UK and India
        Numerous lectures and discourses by guest scholars, pundits and monks
        Religious classes held on regular basis
        Camps for youth and adults
        Cultural and social activities that include local communities
        Activities for Young Jains of America (YJA) and Bay Area Jains Association (BAJA) for working professionals
        "Create a central place where all members of a family - parents, children and senior citizens can participate in a full spectrum of activities. It is one place where all aspects of growing up is addressed. This will be your best nvestment." - H. H. Muni Jin Chandraji, in address to SF Bay Area Jains 
    </p>
  
</span>
</div>
