.header {
    height: 50vh;
    background-image:  url(../../assets/mandir-pan.JPG);
    background-size: cover; 
    background-position: top;   
}

.top-bar {
    padding: 2%;
    background-color:#f8e495bd;
    color: #2c3e50;

    .logo-name {
        font-size: 1.5rem;
        color: #2c3e50;
        padding: 3%;
        font-family: fantasy;
       
    }
}
