
<header class="header">
  <div class="top-bar">
    <span class="logo-name">
      JCNC
    </span>
  
    <ng-container *ngFor="let menuItem of modulesList">
      <ng-container *ngIf="!menuItem.children">
         <button #button mat-button >
          <span>{{menuItem.label}}
          </span>
        </button>
      </ng-container>
      <ng-container *ngIf="menuItem.children && menuItem.children.length > 0">
    <button #button mat-button [matMenuTriggerFor]="levelOne" #levelOneTrigger="matMenuTrigger" (mouseenter)="buttonEnter(levelOneTrigger)" (mouseleave)="buttonLeave(levelOneTrigger, button)" style="z-index:1050">
          <span>{{menuItem.label}}
          </span>
        </button>    
    
        <mat-menu #levelOne="matMenu" direction="down" yPosition="below" >
          <span (mouseenter)="menuenter()" (mouseleave)="menuLeave(levelOneTrigger, button)">
          <ng-container *ngFor="let childL1 of menuItem.children">
            <li class="p-0" *ngIf="!childL1.children" mat-menu-item>
              <a class="nav-link">{{childL1.label}}
              </a>
            </li>
            
          </ng-container>
          </span>
        </mat-menu>
      </ng-container>
    </ng-container>
  </div></header>






